body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

i{
    padding-left: 16px;
}
/*hover*/
.navbar_menu .menu_item a:hover{
    transition: background-color .5s;
    color: white;
    background-color: gray;
    border-radius: 6px;
}

#menu_item_link{
    display: inline-block;
    padding: 8px 10px;
}
/*hover end*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 20px 12px;
}

.navbar_logo{
    font-weight:bold;
    font-size: 30px;
}

.navbar_logo i{
    color: black;
}

.navbar_menu{
    display: flex;
    list-style: none;
}

.navbar_menu .menu_item{
    padding: 8px 20px;
}

.navbar_icon{
    display: flex;
    list-style: none;
    padding: 8px 20px;
    letter-spacing: 20px;
    padding-left: 0px;
}

.navbar_toogleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: black;
}

/*clock*/
.clock_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock_text{
    display: flex;
    position: absolute;
    font-size: 30px;
    color: white;
    letter-spacing: 8px;
    flex-direction: column;
    align-items: center;
}

#clock, #clock_item{
    display: flex;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}
/*clock end*/

.foo{
    margin: 0px;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    color: #FFEFE3;
}

.foo_icon{
    font-size: 50px;
}

/*media query*/
@media screen and (max-width:990px) 
{

.navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0;
}

#menu_item_link{
    padding: 8px 100px;
}

.navbar_menu .menu_item{
    width: 100%;
    text-align: center;
}

.navbar_icon{
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.navbar_toogleBtn{
    display: block;
}

.navbar_menu.active,
.navbar_icon.active{
    display: flex;
}

}
/*media query end*/
