*{
    margin: 0;
    padding: 0;
}
a {
    color: black;
    text-decoration: none;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}
p{
    text-align: center;
}
.coffee{
    text-align: center;
}

li {
    list-style-position: inside;
}

ol {
    margin: 0;
    padding: 0;
    text-align: center;
}
